@using ETicaretMvc.Models.Sınıflar
@model List<KargoDetay>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/AdminLayout.cshtml";
}

<h2>Kargolar</h2>
@using (Html.BeginForm("Index", "Kargo", FormMethod.Post))
{
    <p>
        Kargo Takip Numarası: @Html.TextBox("p")
        <input type="submit" value="Ara" />
    </p>
}

<table class="table table-bordered" style="margin-top:20px">
    <tr>
        <th>Personel</th>
        <th>Alıcı</th>
        <th>Tarih</th>
        <th>Kargo Takip Kodu</th>


    </tr>
    @foreach (var k in Model)
    {

        <tr>
            <td>
                @k.Personel
            </td>
            <td>
                @k.Alici
            </td>
            <td>
                @k.Tarih
            </td>
            <td>
                @k.TakipKodu
            </td>

        </tr>
    }
</table>
<a href="/Kargo/YeniKargo" class=" btn btn-info">Yeni Kargo Girişi</a>
<br />
<br />
<div>
    @using (Html.BeginForm("QR", "Kargo", FormMethod.Post))
    {
        <input type="text" name="kod" />
        <a href="/QR/Index/" class="btn btn-info">QR Oluştur</a>

    }
    <br />
    @if (ViewBag.karekodimage != null)
    {
        <img src="@ViewBag.karekodimage" alt="" style="width:400px;height:400px" />

    }
</div>






